*{
    font-family: "Poppins";
}
header{
    background-image: url(../assets/mohamed-ajufaan-GFcW.png);
    background-position: center; 
    background-size: cover;
    background-color: #000000;
}
.header{
    max-width: 79%;
    margin: 0 auto;
    padding-top: 32px;
}
.logo{
    width: 82px;
    height: 17px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
.list li{
    font-size: 12px;
    color: #ffffff;
}
.list li:nth-child(1){
    width: 34px;
    height: 15px;
    border-color: #000000;
    border-width: 1px;
    border-style: dashed;
    font-size: 12px;
    color: #5863f8;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: inline-block;
}
.list img{
    padding-left: 8px;
}
.list ul{
    display: flex;
    column-gap: 58px;
}
.head{
    padding-top: 103px;
    padding-bottom: 86px;
}
.head h2, .head h3, .head span{
    color: #ffffff;
}
.head h2{
    width: 135px;
    height: 48px;
    font-size: 42px;
    line-height: 56px;
}
.head h3{
    width: 39px;
    height: 17px;
    font-size: 14px;
    font-weight: 500;
}
.head div{
    display: flex;
    column-gap: 20px;
}


.container{
    max-width: 79%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
}
.heading{
    margin-left: 10%;
    width: 310px;
    margin-top: 116px;
    margin-bottom: 55px;
}
.heading h2{
    font-size: 14px;
    font-weight: bold;
    color: #5863f8;
}
.heading h3{
    font-size: 42px;
    line-height: 56px;
    color: #000000;
}
.box{
    display: flex;
    width: 49%;
}
.box img{
    width: 31%;
}
.text{
    width: 58%;
    background-color: #F8F8F8;
}
.text h2 {
    font-size: 14px;
    font-weight: bold;
    color: #5863f8;
    padding: 39px 0px 4px 16px;
}
.text h3{
    font-size: 18px;
    color: #000000;
    padding: 0px 0px 11px 16px;
}
.text p{
    font-size: 14px;
    font-weight: 500;
    color: #b1b1b1;
    padding: 0px 0px 36px 16px;
}
.arrow{
    width: 11%;
    text-align: center;
    background-color: #5863F8;
}
.arrow a{
    display: inline-block;
    padding-top: 125%;
    font-size: 30px;
}
.forms{
    background: #f8f8f8;
    height: 190px;
    margin-top: 71px;
}
form{
    display: flex;
    justify-content: space-between;
    max-width: 79%;
    margin: 0 auto;
}
.checkIn{
    display: inline-block;
    margin-top: 55px;
}
.checkIn label{
    font-size: 13px;
    font-weight: 500;
    color: #5863f8;
}
.checkIn input{
    margin-top: 6px;
    width: 260px;
    height: 60px;
    border-color: #ebebeb;
    border-width: 2px;
    border-style: solid;
    background: #ffffff;
    
}
.button{
    margin-top: 76px;
    width: 260px;
    height: 60px;
    background: #5863f8;
    color: #ffffff;
    font-size: 13px;
}

footer{
    background: #121212
}
.footer{
    max-width: 79%;
    margin: 0 auto;
}
.hotel{
    max-width: 19%;
}
.hotel p{
    width: 260px;
    height: 83px;
    font-size: 14px;
    font-weight: 500;
    color: #b1b1b1;
    margin-top: 22px;
}
.hotel h2{
    width: 139px;
    height: 28px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 93px;
}
.facebook{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-color: #000000;
    border-width: 1px;
    border-style: dashed;
    text-align: center;
    padding-top: 2%;
    background: #3b5998
}
.twitter{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-color: #000000;
    border-width: 1px;
    border-style: dashed;
    text-align: center;
    padding-top: 3%;
    background: #55acee
}
.google{
    width: 35px;
    height: 35px;
    background: #aca1a0;
    text-align: center;
    border-radius: 50%;
    padding-top: 3%;
}
.plus{
    padding-bottom: 5px;
}